<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.utlraq.net.nz/thymeleaf/layout"
	layout:decorator="@{/layout}"
>
	<head>
		<title>Dashboard</title>
	</head>
	
	<body>
		<div layout:fragment="content" id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 th:text="#{dashboardpagetitle}" class="page-title">Hospital Dashboard</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a th:attr="data-test='mytest'" id="buynow" href="#"  class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
                        <ol class="breadcrumb">
                            <li><a href="index.html" th:text="#{hospital}">Hospital</a></li>
                            <li class="active" th:text="#{dashboard}">Dashboard</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                
				<div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="white-box">
                            <div class="r-icon-stats"> <i class="ti-user bg-megna"></i>
                                <div class="bodystate">
                                    <h4 id="total" th:text="${total}"></h4> <span class="text-muted" th:text="#{total}">Total users</span> </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <div class="white-box">
                            <div class="r-icon-stats"> <i class="ti-shopping-cart bg-info"></i>
                                <div class="bodystate">
                                    <h4 id="totalM" th:text="${totalM}">342</h4> <span​​ th:text="#{totalm}" class="text-muted icon-user"> Total male users</span> </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <div class="white-box">
                            <div class="r-icon-stats"> <i class="ti-wallet bg-success"></i>
                                <div class="bodystate">
                                    <h4 id="totalF" th:text="${totalF}">13</h4> <span class="text-muted icon-user-female" th:text="#{totalf}">Total female users</span> </div>
                            </div>
                        </div>
                    </div>
                    
			</div>
                                		
			</div>	
			<script th:src="@{/resources/front/myscript/functionality.js}"></script>	
		</div>
		
		
	</body>
</html>