<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="ISO-8859-1">
		<title>Login</title>
		<script th:src="@{/resources/front/jquery-3.2.1.js}"></script>
		<script th:src="@{/resources/front/bootstrap/dist/js/tether.min.js}"></script>
		<script th:src="@{/resources/front/bootstrap/dist/js/bootstrap.min.js}"></script>
		<link th:href="@{/resources/front/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
		
		<script th:src="@{/resources/front/sweealert2-master/sweetalert2.min.js}"></script>
		<link th:href="@{/resources/front/sweealert2-master/sweetalert2.min.css}" rel="stylesheet">
		
		<script th:inline="javascript" th:src="@{/resources/front/myscript/login.js}"></script>
		
		
		

		  <style>
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #DF706C;
  }
  </style>
</head>
<body>

<div class="container">


  <!-- Modal -->
  <div role="dialog">
    <div >
    
      <!-- Modal content-->
      <div >
        <div  style="padding:35px 50px;">
          <h4 style="background:#01C0C8; padding: 5px"><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div  style="padding:40px 50px;">
          <div>
            <div class="form-group">
              <label for="email"><span class="glyphicon glyphicon-user"></span> Email	</label>
              <input type="text" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="password"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <button style="background:#01C0C8" id="login" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
             
          <button type="cancel" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        
          </div>
        </div>
        
      </div>
      
    </div>
  </div> 
</div>
 


</body>
</html>
		