<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="@{/layout}">
<head>
<title>User List</title>
</head>

<body class="content-wrapper">
	<div layout:fragment="content" id="page-wrapper">

		<div class="container-fluid">
			<div class="row bg-title">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					<h4 class="page-title" ​ th:text="#{userlistpagetitle}">Basic
						Table</h4>
				</div>
				<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
					<a href="" target="_blank"
						class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy
						Now</a>
					<ol class="breadcrumb">
						<li><a href="#" th:text="#{dashboard}">Dashboard</a></li>
						<li><a href="#" th:text="#{userlisttable}">Table</a></li>
						<li class="active" th:text="#{userlistpagetitle}">Basic Table</li>
					</ol>
				</div>
				<!-- /.col-lg-12 -->
			</div>

			<!-- /row -->
			<div class="row">
				<div class="col-sm-12">
					<div class="white-box">
						<h3 class="box-title" th:text="#{userlist}">User List</h3>

						<!-- Save Start Popup -->
						<div class="button-box">
							<button id="add" type="button" class="btn btn-primary"
								th:text="#{adduser}" data-toggle="modal"
								data-target="#exampleModal" data-whatever="@mdo">Add
								User</button>
						</div>
						<div class="modal fade" id="exampleModal" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel1"
							style="display: none;" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<h4 class="modal-title" id="exampleModalLabel1"
											th:text="#{adduser}"></h4>
									</div>
									<div class="modal-body">
										<form class="form-material form-horizontal">
											<div class="form-group">
												<label th:inline="text" for="username" class="control-label"><b>[[#{username}]]</b></label>
												<input type="text" class="form-control" id="username"
													name="username">
											</div>

											<div class="form-group">
												<label th:inline="text" for="email" class="control-label"><b>[[#{email}]]</b></label>
												<input type="email" class="form-control" id="email"
													name="email">
											</div>

											<div class="form-group">
												<label th:inline="text" for="password" class="control-label"><b>[[#{password}]]</b></label>
												<input type="password" class="form-control" id="password"
													name="password">
											</div>

											<div class="form-group">
												<label th:inline="text" class="col-sm-12"><b>[[#{sex}]]</b></label>
												<div class="col-sm-12">
													<select class="form-control" id="gender" name="gender">
														<option>Select Gender</option>
														<option>M</option>
														<option>F</option>
													</select>
												</div>
											</div>

											<div class="form-group">
												<label th:inline="text" class="col-md-12" for="dob"><b>[[#{dob}]]</b></label>
												<div class="col-md-12">
													<input type="text" id="dob" name="dob"
														class="form-control mydatepicker"
														placeholder="enter your birth date">
												</div>
											</div>


											<div id="results" class="form-group">
												<div id="roleBlock"></div>
											</div>

										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default"
											data-dismiss="modal">Close</button>
										<button id="save" type="button" class="btn btn-primary">Save</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Save End Popup -->
						
						<!-- Update Start Popup -->
						<div class="modal fade" id="exampleModalUpdate" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel1"
							style="display: none;" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<h4 class="modal-title" id="exampleModalLabel1"
											th:text="#{adduser}">New message</h4>
									</div>
									<div class="modal-body">
										<form class="form-material form-horizontal">
										
											<div class="form-group">
												<label th:inline="text" for="updateuuid" class="control-label"><b>UUID</b></label>
												<input type="text" class="form-control" id="updateuuid" readonly="readonly"
													name="updateuuid">
											</div>	
										
											<div class="form-group">
												<label th:inline="text" for="updateusername" class="control-label"><b>[[#{username}]]</b></label>
												<input type="text" class="form-control" id="updateusername"
													name="updateusername">
											</div>

											<div class="form-group">
												<label th:inline="text" for="updateemail" class="control-label"><b>[[#{email}]]</b></label>
												<input type="email" class="form-control" id="updateemail"
													name="updateemail">
											</div>

											<div class="form-group">
												<label th:inline="text" for="updatepassword" class="control-label"><b>[[#{password}]]</b></label>
												<input type="text" class="form-control" id="updatepassword"
													name="updatepassword">
											</div>

											<div class="form-group">
												<label th:inline="text" class="col-sm-12"><b>[[#{sex}]]</b></label>
												<div class="col-sm-12">
													<select class="form-control" id="updategender" name="updategender">
														<option>Select Gender</option>
														<option>M</option>
														<option>F</option>
													</select>
												</div>
											</div>

											<div class="form-group">
												<label th:inline="text" class="col-md-12" for="updatedob"><b>[[#{dob}]]</b></label>
												<div class="col-md-12">
													<input type="text" id="updatedob" name="updatedob"
														class="form-control mydatepicker"
														placeholder="enter your birth date">
												</div>
											</div>


											<div id="results" class="form-group">
												<div id="roleBlockUpdate"></div>
											</div>

										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default"
											data-dismiss="modal">Close</button>
										<button  id="updateSave" type="button" class="btn btn-primary">Update</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Update End Popup -->

						<!-- Start Detail Popup -->
<!-- 						<div class="modal fade" id="myModal" role="dialog"> -->
<!-- 							<div class="modal-dialog"> -->

<!-- 								Modal content -->
<!-- 								<div class="modal-content"> -->
<!-- 									<div class="modal-header"> -->
<!-- 										<button type="button" class="close" data-dismiss="modal">&times;</button> -->
<!-- 										<h4 class="modal-title">Modal Header</h4> -->
<!-- 									</div> -->
<!-- 									<div class="modal-body"> -->
<!-- 										<div> -->
<!-- 											<table class="table"> -->
<!-- 												<tr> -->
<!-- 												<td>Name: </td> -->
<!-- 												<td id = "userName"></td> -->
<!-- 												</tr> -->
<!-- 											</table> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									<div class="modal-footer"> -->
<!-- 										<button type="button" class="btn btn-default" -->
<!-- 											data-dismiss="modal">Close</button> -->
<!-- 									</div> -->
<!-- 								</div> -->

<!-- 							</div> -->
<!-- 						</div> -->
						<!-- End   Detail Popup -->

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th th:inline="text"><b>[[#{name}]]</b></th>
										<th th:inline="text"><b>[[#{email}]]</b></th>
										<th th:inline="text"><b>[[#{gender}]]</b></th>
										<th th:inline="text"><b>[[#{dob}]]</b></th>
										<th th:inline="text""><b>[[#{status}]]</b></th>
										<th th:inline="text"><b>[[#{action}]]</b></th>
									</tr>
								</thead>
								<tbody id="userData">


								</tbody>
							</table>
							<div id="pagination" class="center"></div>
						</div>
					</div>
				</div>

			</div>

		</div>





		<script type="text/x-jquery-tmpl" id="user-tmpl">

			{{each(i, user) users}}
				<tr>
					<td>${id}</td>
					<td>${username}</td>
					<td>${email}</td>
					<td>${gender}</td>
					<td>${dob}</td>
					<td>
						{{if status == 'T'}}
							<button id = "updateStatus"  data-uuid=${uuid} data-status='F' class="btn btn-block btn-success btn-rounded">Activated</button>
						{{else}}
							<button id = "updateStatus"  data-uuid=${uuid} data-status = 'T' class="btn btn-block btn-primary btn-rounded">Diactivated</button>
						{{/if}}
										

					</td>
					<td>
						<button id="btnDetail" data-uuid=${uuid} type="button" class="btn btn-info btn-circle" 
						>
							<i class="fa fa-info"></i> 
						</button>
						<button id="btnUpdate" data-uuid=${uuid} type="button" class="btn btn-danger btn-circle"  
							data-toggle="modal" data-target="#exampleModalUpdate" 
							>
							<i class="fa fa-pencil-square-o"></i> </button> 
						<button id="btnDelete" data-uuid=${uuid} type="button" class="btn btn-warning btn-circle"><i class="fa fa-times"></i> </button> 
						 
					</td>
				</tr>
			{{/each}}
		</script>

		<script   th:inline="javascript" th:src="@{/resources/front/myscript/userlist.js}"></script>
		<script
			th:src="@{/resources/front/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>

		<script type="text/javascript">
			$('.mydatepicker').datepicker();
			//   		$('.').click(function(){alert('test');});
		</script>

	</div>
	<!-- content and page-wrapper -->

</body>
</html>