
<script th:src="@{/resources/front/plugins/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- <script th:src="@{/resources/front/jquery-3.2.1.js}"></script> -->
<!-- <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.9/js/tether.min.js}"></script> -->
<script th:src="@{/resources/front/bootstrap/dist/js/tether.min.js}"></script>
<script th:src="@{/resources/front/bootstrap/dist/js/bootstrap.min.js}"></script>
<!--   <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script> -->
<script th:src="@{/resources/front/sweetalert-master/dist/sweetalert.min.js}"></script>
<script th:src="@{/resources/front/sweealert2-master/sweetalert2.min.js}"></script>
<!-- Bootstrap Core JavaScript -->


<script
	th:src="@{/resources/front/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js}"></script>
<!-- Menu Plugin JavaScript -->
<script
	th:src="@{/resources/front/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js}"></script>
<!--slimscroll JavaScript -->
<script th:src="@{/resources/front/js/jquery.slimscroll.js}"></script>
<!--Wave Effects -->
<script th:src="@{/resources/front/js/waves.js}"></script>
<!--Morris JavaScript -->
<script
	th:src="@{/resources/front/plugins/bower_components/raphael/raphael-min.js}"></script>
<script
	th:src="@{/resources/front/plugins/bower_components/morrisjs/morris.js}"></script>
<!-- Sparkline chart JavaScript -->
<script
	th:src="@{/resources/front/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js}"></script>
<!-- jQuery peity -->
<script
	th:src="@{/resources/front/plugins/bower_components/peity/jquery.peity.min.js}"></script>
<script
	th:src="@{/resources/front/plugins/bower_components/peity/jquery.peity.init.js}"></script>
<!-- Custom Theme JavaScript -->
<script th:src="@{/resources/front/js/custom.min.js}"></script>
<script th:src="@{/resources/front/js/dashboard1.js}"></script>

<!--Style Switcher -->
<script
	th:src="@{/resources/front/plugins/bower_components/styleswitcher/jQuery.style.switcher.js}"></script>
<script th:src="@{/resources/front/jquery.bootpag.min.js}"></script>
<script th:src="@{/resources/front/jquery.tmpl.min.js}"></script>
