    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/front/plugins/images/favicon.png}">
    <title>Elite Hospital Admin Template - Hospital admin dashboard web app kit</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/resources/front/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
<!--   <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"> -->
    <link th:href="@{/resources/front/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css}" rel="stylesheet">
    <!-- Menu CSS -->
    <link th:href="@{/resources/front/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css}" rel="stylesheet">
    <!-- morris CSS -->
    <link th:href="@{/resources/front/plugins/bower_components/morrisjs/morris.css}" rel="stylesheet">
    <!-- animation CSS -->
    <link th:href="@{/resources/front/css/animate.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/resources/front/css/style.min.css}" rel="stylesheet">
                              
    <!-- color CSS -->
    <link th:href="@{/resources/front/css/colors/megna.css}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link th:href="@{/resources/front/sweetalert-master/dist/sweetalert.css}" rel="stylesheet">
<link th:href="@{/resources/front/sweealert2-master/sweetalert2.min.css}" rel="stylesheet">
<style type="text/css">
	.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}
</style>
